.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

body {
    margin: 0;
    background: url("../images/dot-grid/dot-grid.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.name {
    text-align: center;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    font-size: 35px;
    padding: 10px 30px 10px 30px;
}

nav {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    color: #4aaaa5;
    padding: 10px;
}

header {
    border-bottom: solid #cccccc 1px;
    background-color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.main-content {
    background-color: #ffffff;
    border: solid #dddddd 1px;
    margin: 50px 40px 100px 40px;
    padding: 10px;
    max-width: 666px;
}

h1 {
    padding: 10px;
    border-bottom: solid #4aaaa5 1px;
    color: #4aaaa5
}

.profile {
    width: 100%;
    max-width: 768px;
    margin: 0px 20px 10px 0px;
}

.content {
    padding: 10px;
}

p {
    margin-top: 0px;
}


@media screen and (min-width: 768px) {

    .name{
        float:left;
        padding:10px;
        margin-left: 50px;
        padding: 10px 30px 10px 30px;
    }

    nav {
        float: right;
    }

    .profile {
        float: left;
    }
    
}

/* ------------- Footer -------------  */

footer {
    width: 100%;
    background-color: #666666;
    margin-top: 30px;
    padding: 25px;
    bottom: 0px;
    position: fixed;
}

.copyright {
    position: absolute;
    bottom: 0px;
    right: 50%;
    color: white;
    padding: 5px;
    font-size: 15px;
}

.footer-decoration {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 15px;
    background-color: #4aaaa5;
    width: 100%;
    height: 5px;
}

/* ------------- Gallery -------------  */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 80px;
    align-items: stretch;
}

.grid img {
    max-width: 100%;
}

.grid {
    position: relative;
    margin: 1em;
    max-width: 768px;
}

.parent {
    position: relative;
}

.parent .overlay {
    position: absolute;
    top: 70%;
    left: 0px;
    text-align: center;
    color: white;
    background-color: #4aaaa5;
    padding:10px;
    box-sizing: border-box;
    width: 100%;
}

/* ------------- Form -------------  */

input {
    width: 100%;
    padding: 5px;
}

label, input {
    margin: 10px 0px 10px 0px;
}

.form {
    padding: 20px;
}

.message {
    padding-bottom: 100px;
}

.submit {
    float: left;
    width: 100px;
    border: rgb(236, 228, 228) solid 1px;
    background-color: #4aaaa5;
    color: white;
    font-family: inherit;
}